.headerDiv {
  display: flex;
  flex-direction: column;
  max-width: 1344px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
img {
  width: 100%;
  height: auto;
}

.headerBox {
  max-width: 25em;
  background-color: white;
  position: absolute;
  top: 10%;
  left: 5%;
  padding: 1em;
  align-self: flex-start;
}
.coursesDescription {
  align-self: flex-start;
  margin: 8px;
}

.coursesDescription h1 {
  font-size: 32px;
}

.coursesDescription p {
  font-size: 20px;
}