.cardElement {
  width: 100%;
  max-width: 250px;
  max-height: 350px;
  align-items: center;
  display: inline-block;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 4px;
}
.courseImg {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  height: 150px;
  width: inherit;
}
.courseImg:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  height: 150px;
  width: inherit;
}
.courseTitle {
  margin: 2px;
}
.author {
  margin: 2px;
  color: gray;
  font-size: 12px;
}
.price {
  margin: 2px;
  font-weight: bold;
}
.rated {
  color: goldenrod;
  padding: 1px;
}
.unRated {
  padding: 1px;
  font-weight: bold;
}
