.container {
  border: 1px solid rgb(206, 204, 204);
  padding: 12px;
  margin: 8px;
}
.explorCourse {
  background-color: white;
  padding: 8px;
  margin: 12px;
}
.coursesList {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  gap: 10px;
}
.cardElement {
  width: 100%;
  max-width: 250px;
  align-items: center;
  display: inline-block;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 4px;
}

.course-title {
  margin: 2px;
}
.author {
  margin: 2px;
  color: gray;
}
.price {
  margin: 2px;
  font-weight: bold;
}
.course-img {
  width: inherit;
}

.rated {
  color: goldenrod;
  padding: 1px;
}
.unRated {
  padding: 1px;
  font-weight: bold;
}
